<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <meta charset="UTF-8">

    </head>
    <body class="containerBody">
        <div class="containerLogin">
            <input class="elementoLogin" placeholder="Usuário">
            <input class="elementoLogin" placeholder="Senha">
            <button class="elementoLogin">Enviar</button>
            <p class="elementoLogin">Esqueceu sua senha? <a>Clique aqui</a></p>
            <button class="elementoLogin">Novo Usuário</button>
        </div>
    </body>
</html>