<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o Projeto</title>
</head>
<body>
    <section class="footerSectionContainer">
        <p>Este Ecommerce faz parte do meu roteiro de treinamento das tecnologias HTML, CSS, JavaScript, Python, Flask e MySql. Iniciei os estudos e desenvolvimento deste projeto no dia 15/05/2024 e pretendo atualizar os códigos com os conhecimentos adquiridos no decorrer do tempo.</p>
    </section>
    <section class="footerTecnologiasUtilizadas footerSectionContainer">
        <h1 class="tituloFooter">Tecnologias Utilizadas</h1>
        <div class="footerColunaUm">
            <img class="iconeTecnologia" src="{{url_for('static', filename='png/icons-html.png')}}">
            <img class="iconeTecnologia" src="{{url_for('static', filename='png/icons-css.png')}}">
            <img class="iconeTecnologia" src="{{url_for('static', filename='png/icons-javascript.png')}}">
        </div>
        <div class="footerColunaDois">
            <img class="iconeTecnologia" src="{{url_for('static', filename='png/icons-python.png')}}">
            <img class="iconeTecnologia" src="{{url_for('static', filename='png/icons-frasco.png')}}">
            <img class="iconeTecnologia" src="{{url_for('static', filename='png/icons-mysql.png')}}">
        </div>
    </section>
</body>
</html>